body{
  /*
  background-image:url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*background color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url:url(./assets/bg-mobile.jpg);
  --stroke-color:rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);


}

.light{
  --text-color:black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url:  url(./assets/sun.svg);

}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
  
}

#container{
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

#profile{
text-align: center;
padding: 24px;
}

#profile img {
  width: 112px;
}

/*switch*/
#switch{
  position: relative;
  margin: 4px auto;
  width: 64px;
}
#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url)  no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1;
  left: 0;
  animation: slide-out 0.1s ;

}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button{
 animation: slide-in 0.1s forwards;
}


#switch span{
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: 4px;
  -webkit-backdrop-filter: 4px;
  border-radius: 9999px;
}

/*links*/
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;

}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}
 
/*pseudo-selector*/
ul li a:hover {
   background: var(--surface-color-hover);
 border: 1.5px solid var(--text-color);
}  

#social-links{
 display: flex;
 justify-content: center;
 gap: 32px;
 padding: 24px 0px;
 font-size: 24px;

}

#social-links a {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;

  border-radius: 50% ;
  transition: background 0.2s;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

footer{
padding: 24px 0px;
text-align: center;
font-size: 14px;
}

/*media queries*/
@media (min-widht:700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
  }

  /*Animation*/
  @keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }

  @keyframes slide out {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }

  }

